body {
    background-attachment: fixed;
    background-image: url("Screenshot-020.jpg"); 
    background-size :  400px 200px;   
    background-origin: content-box;  
    background-repeat : repeat; 
    /*  fallback */   
    
    margin: 0 auto;     
}


/* id  */

#title {
    font-style: oblique 40deg;
    font-size: 400%;
    font-weight: 200px;
    font-family: Impact, Haettenschweiler, sans-serif;    
    color: black;
    text-align: center;
    margin:  auto;
    padding: 5px 5px;    
    position: relative;   
}

#description {    
    font: italic  2.0em/2.2 Arial, sans-serif;    
    color:  black;
    text-align: center;
    margin: auto;
    padding: 5px 5px;
    position: relative; 
    
}

#survey-form {
    width: 800px;
    height: 1400px;
    margin: auto auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(76, 78, 72);
    background-color: rgb(179, 154, 201);
    font: small-caps bold 18px sans-serif; 
    color: black;   
    display: block;
    position: relative;
}

#name-label,
#email-label, 
#number-label {
    font-size: inherit;
    padding: 10px 5px;
    margin-bottom: 10px;    
    display: inline-block;    
}


#name,
#email,
#number {
    width: 80%;
    padding: 5px 5px;
    margin: 5px 10px 5px 5px ;
    font-size: 1.4em;
    text-align: left;
    display: inline-block;
    
}

#dropdown,
#dropdown2 {    
    width: 80%;
    display: table-row;
    align-items: left;
    margin: 0px;
}


#message {
    width: 80%;
    padding: 5px 5px;
    margin: 20px 10px 5px 5px ;
    font-size: 1em;
    text-align: left;
    display: inline-block;    
}

#name:invalid, 
#email:invalid, 
#number:invalid,
#message:invalid,
#message:invalid {
    border: 5px solid red;    
}

#name:valid, 
#email:valid, 
#number:valid,
#message:valid {
    border: 5px solid lime;    
}

#submit {
    border: 2px;
    line-height: 2;
    padding: 0 10px;
    font-size: 20px;
    text-align: center;
    color: blue;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(133, 105, 105);   
    box-shadow: inset 2px 2px 3px rgb(77, 77, 19),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

}


#submit:hover {    
    background-color: rgba(255, 0, 0, 1);
}

#submit:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/** class **/

/** mobiles **/
@media (max-width: 480px) {
    body { 
    font: 1.4em sans-serif;
    line-height: 1.4;
}
}



