body {
    
    background-color: yellowgreen;
    background-image: url(none);
    background-clip: border-box;
    background-clip: content-box;
    width: 800px;
    height: 1400px;
    margin: 0 auto;
}

 main {
    background-color: cornflowerblue;
    
  }

header {
    text-align: center;    
    width: 600px;
    margin-top: 0;
    padding: 0px;  
    position: fixed;
    top: 0; 
  }

p {
    text-align: center; 
}

#container {
    background-color: rgb(87, 94, 80);
    color: rgb(46, 30, 10);
    margin: 10px;
    padding: 10% 20%;
    border: 2px solid black;
    width: 600px;
    height: 1400px;
    display: flex;
    flex-direction: column ;
    grid-template-columns: auto 33% auto;
    align-items: center;
    justify-content: center;     
}

.inner {
    background-color: rgb(68, 74, 131);
    color: black;
    margin: 0 auto;
    padding: 1em; 
    width: 90%;
    display: block;
    align-items: center;
    position: relative;
    }
    

.inner2 {
background-color: rgb(68, 74, 131);
color: black;
margin:  auto;
padding: 1em; 
width: 90%;
display: block;
align-items: center;
position: relative;
}


header:nth-of-type(1) {
    margin-top: 60px;
  }

form.form-box {
    display: table;
}

div.form-box {
    display: table-row;
}
input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
  }
  
  input:valid+span:after {
    content: '✓';
    padding-left: 5px;
  }

label, textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}



#submit{
    border: 0;
    line-height: 1.5;
    padding: 5px 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#submit:hover {
    background-color: rgba(255, 0, 0, 1);
}

